.venv/
.idea/
*.pyc
__pycache__/
.DS_Store

components/output/*
#guide/output/*
#guide/guide
guide/
output/
!output/saved_viz_trees/tree_28-07-26_16-29-53__1199_BNG_echoMonths-Pilot-12-30-2000-5.pkl
m5_example.py
placeholder.py